@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #232527;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.banner {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-img {
  width: 100%;
  height: 70vh;
  background-image: url('./images/patientBanner2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -17px;
}

.iframe {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 500px;
  height: 80px;
}